%link{:rel => :stylesheet, :type => 'text/css', :href => '/build/css/background/index.css'}
%script{:type => 'text/javascript', :src => '/lib/js/jquery-2.0.3.min.js'}
%script{:type => 'text/javascript', :src => '/lib/js/underscore-1.5.2.min.js'}
%script{:type => 'text/javascript', :src => '/build/js/background/popup.js'}

#logo
  %img{:src => '/assets/icons/icon48.png'}
  %span.title= 'DevGib'

#sites

  .site.github
    %span.icon= '&#xf113;'
    %label{:for => 'site1'}= 'Github'
    %input.token{:type => :text, :placeholder => 'Your Github access token'}
    %br
    %a{:href => 'https://github.com/settings/applications', :style => 'font-size:12px;'}= 'Generate access token'

  %hr

  .site.stackoverflow
    %span.icon= '&#xf18d;'
    %label{:for => 'site2'}= 'Stackoverflow'