%link{:rel => :stylesheet, :type => 'text/css', :href => '/build/css/background/index.css'}

#logo
  %img{:src => '/assets/icons/icon48.png'}
  %span.title= 'DevGib'

#sites
  
  .site
    %span.icon= '&#xf113;'
    %input.enabled{:type => :checkbox, :id => 'site1'}
    %label{:for => 'site1'}= 'Github'
    %input.token{:type => :text, :placeholder => 'Your Github access token'}

  %hr

  .site
    %span.icon= '&#xf18d;'
    %input.enabled{:type => :checkbox, :id => 'site2'}
    %label{:for => 'site2'}= 'Stackoverflow'