%link{:rel => :stylesheet, :type => 'text/css', :href => '/build/css/background/index.css'}

#logo


#sites
  .site
    .top
      %input.enabled{:type => :checkbox}
      %span.icon= '&#xf113;'
      %span= 'Github'
      %input.token{:type => :text, :placeholder => 'Your Github access token'}

  .site
    .top
      %input.enabled{:type => :checkbox}
      %span.icon= '&#xf18d;'
      %span= 'Stackoverflow'

%hr

#actions
  %input{:type => :checkbox}
  %span= 'DevGib'
  %u.all-enabled= 'ENABLED'
